# 1) Bussiness understanding¶
 - Each registerd user rent bike for 5 USD/hour. - 
Casual user rent bike for 2 USD/hour
 - Maintance 1500/year.
 - Taxes .14%.ar.

# 2) Import libraries¶

In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import SimpleImputer, KNNImputer

%matplotlib inline
sns.set(rc={'figure.figsize': [7, 7]}, font_scale=1.2)

# 3) load data

In [113]:
data= pd.read_csv('bikes.csv')
data

,datetime,season,holiday,workingday,weather,temp,humidity,windspeed,casual,registered,rented_bikes_count
0,2011-01-01 00:00:00,Spring,0.0,0.0,Clear,9.84,81.0,NaN,3,13,16
1,2011-01-01 01:00:00,Spring,0.0,0.0,NaN,9.02,80.0,0.0000,8,32,40
2,2011-01-01 02:00:00,Spring,0.0,0.0,Clear,9.02,NaN,0.0000,5,27,32
3,2011-01-01 03:00:00,Spring,0.0,0.0,Clear,9.84,75.0,0.0000,3,10,13
4,2011-01-01 04:00:00,NaN,0.0,0.0,Clear,NaN,75.0,NaN,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...
10881,2012-12-19 19:00:00,Winter,0.0,1.0,Clear,15.58,50.0,26.0027,7,329,336
10882,2012-12-19 20:00:00,Winter,0.0,1.0,NaN,14.76,NaN,NaN,10,231,241
10883,2012-12-19 21:00:00,NaN,0.0,1.0,Clear,13.94,61.0,15.0013,4,164,168
10884,2012-12-19 22:00:00,Winter,NaN,1.0,Clear,13.94,NaN,6.0032,12,117,129
10885,2012-12-19 23:00:00,Winter,0.0,1.0,Clear,13.12,66.0,8.9981,4,84,88

# 4) Data preprocessing

In [92]:
data.columns

Index(['datetime', 'season', 'holiday', 'workingday', 'weather', 'temp',
       'humidity', 'windspeed', 'casual', 'registered', 'rented_bikes_count'],
      dtype='object')

In [93]:
data.head()

,datetime,season,holiday,workingday,weather,temp,humidity,windspeed,casual,registered,rented_bikes_count
0,2011-01-01 00:00:00,Spring,0.0,0.0,Clear,9.84,81.0,NaN,3,13,16
1,2011-01-01 01:00:00,Spring,0.0,0.0,NaN,9.02,80.0,0.0,8,32,40
2,2011-01-01 02:00:00,Spring,0.0,0.0,Clear,9.02,NaN,0.0,5,27,32
3,2011-01-01 03:00:00,Spring,0.0,0.0,Clear,9.84,75.0,0.0,3,10,13
4,2011-01-01 04:00:00,NaN,0.0,0.0,Clear,NaN,75.0,NaN,0,1,1

In [94]:
data.tail()

,datetime,season,holiday,workingday,weather,temp,humidity,windspeed,casual,registered,rented_bikes_count
10881,2012-12-19 19:00:00,Winter,0.0,1.0,Clear,15.58,50.0,26.0027,7,329,336
10882,2012-12-19 20:00:00,Winter,0.0,1.0,NaN,14.76,NaN,NaN,10,231,241
10883,2012-12-19 21:00:00,NaN,0.0,1.0,Clear,13.94,61.0,15.0013,4,164,168
10884,2012-12-19 22:00:00,Winter,NaN,1.0,Clear,13.94,NaN,6.0032,12,117,129
10885,2012-12-19 23:00:00,Winter,0.0,1.0,Clear,13.12,66.0,8.9981,4,84,88

In [95]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   datetime            10886 non-null  object
 1   season              10672 non-null  object
 2   holiday             10030 non-null  float64
 3   workingday          9388 non-null   float64
 4   weather             8746 non-null   object
 5   temp                8104 non-null   float64
 6   humidity            7462 non-null   float64
 7   windspeed           6820 non-null   float64
 8   casual              10886 non-null  int64
 9   registered          10886 non-null  int64
 10  rented_bikes_count  10886 non-null  int64
dtypes: float64(5), int64(3), object(3)
memory usage: 935.6+ KB

In [96]:
data.describe(include='all')

,datetime,season,holiday,workingday,weather,temp,humidity,windspeed,casual,registered,rented_bikes_count
count,10886,10672,10030.000000,9388.000000,8746,8104.000000,7462.000000,6820.000000,10886.000000,10886.000000,10886.000000
unique,10886,4,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN
top,2011-01-01 00:00:00,Winter,NaN,NaN,Clear,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,2688,NaN,NaN,5793,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,0.029113,0.678206,NaN,20.317665,61.790673,12.708806,36.021955,155.552177,191.574132
std,NaN,NaN,0.168131,0.467189,NaN,7.818568,19.262084,8.131154,49.960477,151.039033,181.144454
min,NaN,NaN,0.000000,0.000000,NaN,0.820000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,NaN,NaN,0.000000,0.000000,NaN,13.940000,47.000000,7.001500,4.000000,36.000000,42.000000
50%,NaN,NaN,0.000000,1.000000,NaN,20.500000,62.000000,12.998000,17.000000,118.000000,145.000000
75%,NaN,NaN,0.000000,1.000000,NaN,26.240000,77.000000,16.997900,49.000000,222.000000,284.000000
max,NaN,NaN,1.000000,1.000000,NaN,41.000000,100.000000,56.996900,367.000000,886.000000,977.000000

In [97]:
temp=data[data['temp']==.820000] #Get specific rows for example
temp

,datetime,season,holiday,workingday,weather,temp,humidity,windspeed,casual,registered,rented_bikes_count
5496,2012-01-04 03:00:00,Spring,0.0,1.0,NaN,0.82,NaN,19.0012,0,1,1
5497,2012-01-04 04:00:00,Spring,0.0,1.0,Clear,0.82,NaN,12.9980,0,2,2
5498,2012-01-04 05:00:00,Spring,0.0,1.0,Clear,0.82,NaN,12.9980,0,14,14
5499,2012-01-04 06:00:00,Spring,0.0,1.0,NaN,0.82,41.0,11.0014,0,59,59
5500,2012-01-04 07:00:00,Spring,0.0,1.0,Clear,0.82,44.0,12.9980,1,151,152
5501,2012-01-04 08:00:00,Spring,NaN,1.0,NaN,0.82,44.0,NaN,5,310,315

In [98]:
data['datetime'] = pd.to_datetime(data['datetime'], format='%Y-%m-%d %H:%M:%S', errors='coerce')
data

,datetime,season,holiday,workingday,weather,temp,humidity,windspeed,casual,registered,rented_bikes_count
0,2011-01-01 00:00:00,Spring,0.0,0.0,Clear,9.84,81.0,NaN,3,13,16
1,2011-01-01 01:00:00,Spring,0.0,0.0,NaN,9.02,80.0,0.0000,8,32,40
2,2011-01-01 02:00:00,Spring,0.0,0.0,Clear,9.02,NaN,0.0000,5,27,32
3,2011-01-01 03:00:00,Spring,0.0,0.0,Clear,9.84,75.0,0.0000,3,10,13
4,2011-01-01 04:00:00,NaN,0.0,0.0,Clear,NaN,75.0,NaN,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...
10881,2012-12-19 19:00:00,Winter,0.0,1.0,Clear,15.58,50.0,26.0027,7,329,336
10882,2012-12-19 20:00:00,Winter,0.0,1.0,NaN,14.76,NaN,NaN,10,231,241
10883,2012-12-19 21:00:00,NaN,0.0,1.0,Clear,13.94,61.0,15.0013,4,164,168
10884,2012-12-19 22:00:00,Winter,NaN,1.0,Clear,13.94,NaN,6.0032,12,117,129
10885,2012-12-19 23:00:00,Winter,0.0,1.0,Clear,13.12,66.0,8.9981,4,84,88

In [115]:
data.isna().sum()

datetime                 0
season                 214
holiday                856
workingday            1498
weather               2140
temp                  2782
humidity              3424
windspeed             4066
casual                   0
registered               0
rented_bikes_count       0
dtype: int64

In [116]:
data

,datetime,season,holiday,workingday,weather,temp,humidity,windspeed,casual,registered,rented_bikes_count
0,2011-01-01 00:00:00,Spring,0.0,0.0,Clear,9.84,81.0,NaN,3,13,16
1,2011-01-01 01:00:00,Spring,0.0,0.0,NaN,9.02,80.0,0.0000,8,32,40
2,2011-01-01 02:00:00,Spring,0.0,0.0,Clear,9.02,NaN,0.0000,5,27,32
3,2011-01-01 03:00:00,Spring,0.0,0.0,Clear,9.84,75.0,0.0000,3,10,13
4,2011-01-01 04:00:00,NaN,0.0,0.0,Clear,NaN,75.0,NaN,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...
10881,2012-12-19 19:00:00,Winter,0.0,1.0,Clear,15.58,50.0,26.0027,7,329,336
10882,2012-12-19 20:00:00,Winter,0.0,1.0,NaN,14.76,NaN,NaN,10,231,241
10883,2012-12-19 21:00:00,NaN,0.0,1.0,Clear,13.94,61.0,15.0013,4,164,168
10884,2012-12-19 22:00:00,Winter,NaN,1.0,Clear,13.94,NaN,6.0032,12,117,129
10885,2012-12-19 23:00:00,Winter,0.0,1.0,Clear,13.12,66.0,8.9981,4,84,88

# Data analysis
 ## Questions
 - Profit for each day.
 -  Which season that has more registeration & profit.
 -  Which weather condition that has more registeration & profit.
 -  Correlation between profit & bikes count with all features.
 -   Rentals during rush hours (5-7 am & 12-3 pm).pm).